/* body style */
main{
    margin:116px 300px;
}



/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    margin:0 150px; 
    align-items: center;
     
}

.logo{
   font-size: 40px; 
   color: #4E47FF;
}
.hero-bg{
    background-image: url(../Assets/Hero-bg.png);
    padding: 0px 0 60px;
}
/* banner styles */
.banner{  
    text-align: center;
    margin: 200px 500px  ;
    max-width: 905px;
    max-height: 152px;  
}

.banner-heading{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 27px;

}

/* Action section style */
.action{
    display: flex;
    justify-content: space-between;
    

}
.action-column-1{
    max-width: 500px;
    padding: 40px;
}


.column-1-headline{
    font-size: 42px;
    font-weight: bold;
}
.column-1-sub-headline{
    font-size: 26px;
    font-weight: 400;
    color: #252432;
}

/* product users section style */
.product-users{
    text-align: center;
    max-width: 1140px;
    background-color: #4d47ff1b;
    padding: 30px 50px 40px;
    border-radius: 10px;
    margin: 110px 0 0 40px;
}

.product-user-element{
    display: flex;
    justify-content: space-between;


}
.product-user-headline{
    font-size: 38px;
    font-weight: bold;
}
.main-element{
    font-size: 75px;
    font-weight: bold;
    color: #4E47FF;
}
.element-description{
    font-size: 20px;
    font-weight: 400;
}
/* users feedback section */
.users-feedback{
    text-align: center;
    margin-top: 200px;
}

.feedback-section{
    display: flex;
    
    gap: 10px;
}
.feedback-column{
    border: 2px solid #F2EDED;
    background-color: white;
    padding: 20px 25px;
    border-radius: 10px;text-align: start;
}

.feedback-top-heading{
    font-size: 42px;
    color: #252432;
    font-weight: bold;
}
.feedback-heading{
    font-size: 30px;
    
}
.feedback-subheading{
    font-size: 20px;
    margin-top: -20px;
}
.user-info{
    display: flex;
    
}
.username-date{
    margin-left:30px;
}
.username{
    margin-bottom: 0;
}
.date{
    margin-top: 4px;
}
/* contact form section style */
.contact-form{
    display: flex;
    justify-content: space-between;
    padding: 71px 0;
    margin:100px 0px 0 40px;
    
}
.contact-form-left-side{
    font-size: 65px;
    font-weight: bold;
    padding: 00px 200px 0 0px;

}

.form-label{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: 20px 0 10px 0;
    
}

.form-input{
    padding: 22px 20px;
    padding-right: 350px;
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(205, 205, 205);
}

/* footer style */
.footer{
    background-color: white;
    
}
nav ul{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #8987A1;
}
.nav-item{
    display: flex;
    gap: 70px;
    font-size: 20px;
}
.footer-items{
   max-width: 900px; 
   text-align: center;
   margin-left: 550px;
   margin-bottom: -10px;
   padding-bottom: 50px;
   padding-top: 20px;
}
.foot-description{
font-size: 25px;
color: #8987A1;
margin-top: -80px;
}
.foot-logo{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}


/* shared Styles */
body{
    background: #e9f0ff;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.button-primary {
    background-color: #4E47FF;
    color: white;
    padding: 12px 30px;
    
    border-radius:10px ;
    border: none;
    font-size: 16px;
    cursor: pointer;
    
}
.button-form{
    background-color: #4E47FF;
    color: white;
    padding: 20px 30px;
    margin-top: 10px;
    border-radius:10px ;
    font-size: 16px;
    width: 620px;
    border: none;
    cursor: pointer;
}
img{
    border-radius: 48px;
}
a:hover{
    color: #4E47FF;
    
}
button:hover{
    background-color: #140ec6;
}